@media (prefers-color-scheme: dark) {
    :root {
        --window-colour: #1e1e26;
        --secondary-colour: #121217;
        --inverted-colour: #FAFAFC;

        /* Containter Tab Colours */
        --uc-identity-color-blue: #7ED6DF;
        --uc-identity-color-turquoise: #55E6C1;
        --uc-identity-color-green: #B8E994;
        --uc-identity-color-yellow: #F7D794;
        --uc-identity-color-orange: #F19066;
        --uc-identity-color-red: #FC5C65;
        --uc-identity-color-pink: #F78FB3;
        --uc-identity-color-purple: #786FA6;

        --uc-identity-color-blue-muted: #7ED6DF99;
        --uc-identity-color-turquoise-muted: #55E6C199;
        --uc-identity-color-green-muted: #B8E99499;
        --uc-identity-color-yellow-muted: #F7D794CC;
        --uc-identity-color-orange-muted: #F19066FF;
        --uc-identity-color-red-muted: #FC5C65FF;
        --uc-identity-color-pink-muted: #F78FB399;
        --uc-identity-color-purple-muted: #786FA6FF;
    }
}

* {
    font-family: 'Tamzen' !important;
}

:root {
    /* URL colour in URL bar suggestions */
    --urlbar-popup-url-color: var(--uc-identity-color-purple) !important;

    /* global border radius */
    --uc-border-radius: 2px;

    /* dynamic url bar width settings */
    --uc-urlbar-width: clamp(200px, 40vw, 500px);

    /* dynamic tab width settings */
    --uc-active-tab-width: clamp(100px, 20vw, 300px);
    --uc-inactive-tab-width: clamp(50px, 15vw, 200px);

    /* if active always shows the tab close button */
    --show-tab-close-button: none;
    /* DEFAULT: -moz-inline-box; */

    /* if active only shows the tab close button on hover*/
    --show-tab-close-button-hover: hover;
    /* DEFAULT: -moz-inline-box; */

    /* adds left and right margin to the container-tabs indicator */
    --container-tabs-indicator-margin: 10px;

}

#back-button,
#forward-button,
#star-button,
#urlbar-zoom-button,
#nav-bar-overflow-button,
#PanelUI-fxa-status,
#reader-mode-button,
#tracking-protection-icon-container,
#alltabs-button,
#identity-permission-box,
#identity-icon-box,
#identity-box,
#urlbar-searchmode-switcher,
.urlbar-go-button,
#trust-icon-container,
#searchmode-switcher-icon,
.tab-secondary-label,
#pageActionButton,
#page-action-buttons,
#unified-extensions-button,
#tabs-newtab-button,
#TabsToolbar #newtab-button,
.titlebar-buttonbox-container,
.titlebar-spacer {
    display: none !important;
}

/* Make button small as Possible, hidden out of sight */
#PanelUI-button {
    margin-top: -5px;
    margin-bottom: 44px;
}

#PanelUI-menu-button {
    padding: 0px !important;
    max-height: 1px;
    list-style-image: none !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
    width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
    padding: 0px !important;
}

/*---+---+---+---+---+---+
 | L | A | Y | O | U | T |
 +---+---+---+---+---+---*/

:root {
    --uc-theme-colour: var(--window-colour, var(--toolbar-bgcolor));
    --uc-hover-colour: var(--secondary-colour, rgba(0, 0, 0, 0.2));
    --uc-inverted-colour: var(--inverted-colour, var(--toolbar-color));

    --button-bgcolor: var(--uc-theme-colour) !important;
    --button-hover-bgcolor: var(--uc-hover-colour) !important;
    --button-active-bgcolor: var(--uc-hover-colour) !important;

    --toolbarbutton-border-radius: var(--uc-border-radius) !important;

    --tab-border-radius: var(--uc-border-radius) !important;
    --lwt-text-color: var(--uc-inverted-colour) !important;
    --lwt-tab-text: var(--uc-inverted-colour) !important;

    --arrowpanel-border-radius: var(--uc-border-radius) !important;

    --tab-block-margin: 1px !important;
    --tab-min-height: 20px !important;
    --tab-max-height: 20px !important;
}

#urlbar {
    max-height: 20px !important;
    min-height: 20px !important;
    margin-top: 0 !important;
}

#urlbar-background {
    min-height: 20px !important;
}

.tab-background {
    max-height: 20px !important;
    min-height: 20px !important;
}

#nav-bar {
    height: 25px !important;
}

#TabsToolbar {
    height: 25px !important;
    padding-top: 2px !important;
}

.tab-icon-image {
    margin-top: -14px !important;
    max-height: 12px !important;
    width: auto !important;
}

.tab-label {
    margin-top: -15px !important;
    color: #bac2de;
}

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
    appearance: none !important;
    -moz-appearance: none !important;
    border: none !important;
    box-shadow: none !important;
    background: var(--uc-theme-colour) !important;
}

/* grey out ccons inside the toolbar to make it
 * more aligned with the Black & White colour look */
#PersonalToolbar toolbarbutton:not(:hover),
#bookmarks-toolbar-button:not(:hover) {
    filter: grayscale(1) !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* remove tab shadow */
.tabbrowser-tab>.tab-stack>.tab-background {
    box-shadow: none !important;
}

/* tab background */
.toolbar-items,
.tabbrowser-tab>.tab-stack>.tab-background {
    background: var(--uc-theme-colour) !important;
}

/* active tab background & border */
.tabbrowser-tab[selected]>.tab-stack>.tab-background {
    background: var(--uc-hover-colour) !important;
    border-color: #fffefe !important;
}

/* .tabbrowser-tab:not([selected])>.tab-stack>.tab-background { */
/*     background: #2b203a !important; */
/* } */

/* multi tab selection */
#tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected])>.tab-stack>.tab-background:-moz-lwtheme {
    background: var(--uc-hover-colour) !important;
}

/* tab close button options */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: var(--show-tab-close-button) !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: var(--show-tab-close-button-hover) !important
}

/* adaptive tab width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
    max-width: var(--uc-active-tab-width) !important;
}

.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
    max-width: var(--uc-inactive-tab-width) !important;
}

/* container tabs indicator */
.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
    margin: -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
    border-radius: var(--tab-border-radius) !important;
    box-shadow: 0 1px 10px 1px var(--uc-identity-gradient-color) !important;
}

/* show favicon when media is playing but tab is hovered */
.tab-icon-image:not([pinned]) {
    opacity: 1 !important;
}

/* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
    top: 5px !important;
    z-index: 1 !important;
    padding: 1.5px !important;
    inset-inline-end: -8px !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px !important;
}

/* style and position speaker icon */
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    stroke: transparent !important;
    background: transparent !important;
    opacity: 1 !important;
    fill-opacity: 0.8 !important;
    color: currentColor !important;
    stroke: var(--uc-theme-colour) !important;
    background-color: var(--uc-theme-colour) !important;
}

/* change the colours of the speaker icon on active tab to match tab colours */
.tabbrowser-tab[selected] .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    stroke: var(--uc-hover-colour) !important;
    background-color: var(--uc-hover-colour) !important;
}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    margin-inline-end: 9.5px !important;
}

.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
    top: 0 !important;
    padding: 0 !important;
    margin-inline-end: 5.5px !important;
    inset-inline-end: 0 !important;
}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: currentColor !important;
    stroke: var(--uc-inverted-colour) !important;
    background-color: var(--uc-inverted-colour) !important;
    fill-opacity: 0.95 !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: currentColor !important;
    stroke: var(--uc-inverted-colour) !important;
    background-color: var(--uc-inverted-colour) !important;
    fill-opacity: 0.95 !important;
}

/* speaker icon colour fix */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
    color: var(--uc-inverted-colour) !important;
}

/* speaker icon colour fix on hover */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: var(--uc-theme-colour) !important;
}

#nav-bar {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

/* remove border below whole nav */
#navigator-toolbox {
    border-bottom: none !important;
}

#urlbar,
#urlbar * {
    outline: none !important;
    box-shadow: none !important;
}

.urlbar-background {
    border: var(--uc-hover-colour) !important;
}

#urlbar[focused="true"]>.urlbar-background,
#urlbar:not([open])>.urlbar-background {
    background: transparent !important;
    border-radius: 0 !important;
}

#urlbar[open]>.urlbar-background {
    background: var(--uc-theme-colour) !important;
    border-radius: 0 !important;
}

.urlbarView {
    background: var(--uc-theme-colour) !important;
}

.urlbarView-row:hover>.urlbarView-row-inner,
.urlbarView-row[selected]>.urlbarView-row-inner {
    background: var(--uc-hover-colour) !important;
}

#statuspanel {
    position: absolute !important;
    /* bottom: 12px !important; left: 12px !important; */
}

#statuspanel #statuspanel-label {
    border: none !important;
    border-radius: var(--uc-border-radius) !important;
    background: var(--uc-theme-colour) !important;
}

/* transition to oneline */
@media (min-width: 500px) {

    /* move tabs bar over */
    #TabsToolbar {
        margin-left: var(--uc-urlbar-width) !important;
    }


    /* move entire nav bar  */
    #nav-bar {
        margin: calc((var(--urlbar-min-height) * -1) - 8px) calc(100vw - var(--uc-urlbar-width)) 0 0 !important;
    }
}

/* Container Tabs */
.identity-color-blue {
    --identity-tab-color: var(--uc-identity-color-blue) !important;
    --identity-icon-color: var(--uc-identity-color-blue) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-blue-muted) !important;
}

.identity-color-turquoise {
    --identity-tab-color: var(--uc-identity-color-turquoise) !important;
    --identity-icon-color: var(--uc-identity-color-turquoise) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-turquoise-muted) !important;
}

.identity-color-green {
    --identity-tab-color: var(--uc-identity-color-green) !important;
    --identity-icon-color: var(--uc-identity-color-green) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-green-muted) !important;
}

.identity-color-yellow {
    --identity-tab-color: var(--uc-identity-color-yellow) !important;
    --identity-icon-color: var(--uc-identity-color-yellow) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-yellow-muted) !important;
}

.identity-color-orange {
    --identity-tab-color: var(--uc-identity-color-orange) !important;
    --identity-icon-color: var(--uc-identity-color-orange) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-orange-muted) !important;
}

.identity-color-red {
    --identity-tab-color: var(--uc-identity-color-red) !important;
    --identity-icon-color: var(--uc-identity-color-red) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-red-muted) !important;
}

.identity-color-pink {
    --identity-tab-color: var(--uc-identity-color-pink) !important;
    --identity-icon-color: var(--uc-identity-color-pink) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-pink-muted) !important;
}

.identity-color-purple {
    --identity-tab-color: var(--uc-identity-color-purple) !important;
    --identity-icon-color: var(--uc-identity-color-purple) !important;
    --uc-identity-gradient-color: var(--uc-identity-color-purple-muted) !important;
}

.tab-close-button,
.tab-close-button:hover {
    outline: none !important;
    margin-inline: -10px !important;
    margin-top: -15px !important;
}

.titlebar-button>.toolbarbutton-icon {
    height: 17px !important;
    min-height: 17px !important;
    width: 17px !important;
    min-width: 17px !important;
}

#urlbar-container {
    margin-right: 0 !important;
}

.tab-audio-button {
    --button-size-icon-small: 14px !important;
    --button-min-height-small: 14px !important;
    margin: -18px 2px 0 1px !important;
}

.tab-icon-stack {
    margin-top: -1px;
}

.urlbar-input-box,
.tab-text {
    padding-bottom: 1px;
}
